body {
  margin: 34px;
  background-color: rgb(240,240,240);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}


.testing { color: #3F51B5; }

.star::after { color: #9E9E9E;
        font-size: 35%;
        content: "*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*+*";
        overflow-wrap:break-word;}

#header {
         margin: 0em;
         padding: 1em;
         background: rgba(3, 169, 244, 0.25);
         text-align: center;
         }
#body {margin: 1em;
       padding: 1em;
       background:  rgba(158, 158, 158, 0.25);
       text-align: center;}
#body p {color: #607D8B;
margin: 2em;}
