body {
  margin: 34px;
  background-color: rgb(240,240,240);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 5px;
}


.testing { color: red; }

.star { color: yellow;
        size: 80%;}
