body {
  margin: 34px;
  background-color: rgb(240,240,240);
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
}


.testing { color: red; }

.star { color: yellow;
        font-size: 150%;}

#header {
         margin: 0em;
         padding: 1em;
         background: rgba(208, 251, 218, 0.7);
         text-align: center;
         }
#body {margin: 1em;
       padding: 1em;
       background:  rgba(0, 0, 0, 0.05);
       text-align: center;}
