
@font-face {
  font-family: 'DomesticManners';
  src: url('DomesticManners.eot?#iefix') format('embedded-opentype'),  url('DomesticManners.woff') format('woff'), url('DomesticManners.ttf')  format('truetype'), url('DomesticManners.svg#DomesticManners') format('svg');
  font-weight: normal;
  font-style: normal;
}
