
@font-face {
  font-family: 'MiauroSans';
  src: url('MiauroSans.eot?#iefix') format('embedded-opentype'),  url('MiauroSans.woff') format('woff'), url('MiauroSans.ttf')  format('truetype'), url('MiauroSans.svg#MiauroSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
